*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
    }
.navbar-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-right-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-right-item{
    padding: 10px;
}
.navbar-logo{
padding: 10px;
}
.navbar-right-link{
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: rgba(0, 0, 0, 1);
transition: 0.3s;
}
.navbar-right-link:hover{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: blue;
    }
    .navbar-right-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
width: 159px;
left: 1041px;
top: 8px;
border-radius: 5px;
padding: 8px, 16px, 8px, 16px;
border:none;
background: rgba(0, 186, 252, 1);
font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color:rgba(255, 255, 255, 1) ;
transition: 0.3s;
}
.navbar-right-btn:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
width: 159px;
left: 1041px;
top: 8px;
border-radius: 5px;
border: 3px solid rgba(0, 186, 252, 1);
padding: 8px, 16px, 8px, 16px;
background: rgba(255, 255, 255, 1);
font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color:rgba(0, 186, 252, 1) ;
}


.navbar {
    height: 56px;
    box-shadow: 0px 10px #F8F8F8;
}
.header .container{
    height: 418px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-title{
    width: 450px;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}
.header-text{
    width: 400px;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: rgba(0, 0, 0, 1);
}
.header-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
width: 232px;
left: 0px;
top: 184px;
border: none;
border-radius: 5px;
padding: 8px, 16px, 8px, 16px;
background: rgba(0, 186, 252, 1);
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);
transition: 0.3S;
}
.header-btn:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
width: 232px;
left: 0px;
top: 184px;
border:3px solid rgba(0, 186, 252, 1);
border-radius: 5px;
padding: 8px, 16px, 8px, 16px;
background: rgba(255, 255, 255, 1);
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: rgba(0, 186, 252, 1);

}
.header-item{
    padding: 10px;
}
.inservices-box{
    padding: 30px;
    text-align: center;
    height: 260px;
width: 320px;
left: 293px;
top: 316px;
border-radius: 5px;
padding: 24px;
box-shadow:5px 10px #F8F8F8;
}
.inservices-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.inservices-item{
    padding: 30px;
}
.services-list{
    text-align: center;
}
.services-item:nth-child(2){
    width: 1140px;
    display: flex;
    justify-content: center;
    padding-top:20px;
}
.services-title{
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 31px;
letter-spacing: 0em;
text-align: center;
color: rgba(0, 0, 0, 1);
}
.services-text{
    width: 719px;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
color: rgba(0, 0, 0, 1);
}
.services-btn{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
width: 167px;
left: 0px;
top: 24px;
border:3px solid rgba(0, 186, 252, 1);
border-radius: 5px;
padding: 8px, 16px, 8px, 16px;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);
background: rgba(0, 186, 252, 1);

}
.services-btn:hover{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
width: 167px;
left: 0px;
top: 24px;
border:3px solid rgba(0, 186, 252, 1);
border-radius: 5px;
padding: 8px, 16px, 8px, 16px;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: rgba(0, 186, 252, 1);
background: rgba(255, 255, 255, 1);

}
.services-item:nth-child(4){
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-link{
    padding: 5px;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
color: blue;
}
.step-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-item{
    padding: 15px;
}
.step-item{
    padding: 20px;
}
.section-text{
    width: 719px;
}
.section-title{
    width: 1140px;
}
.section-item:nth-child(2){
    text-align: center;
display: flex;
justify-content: center;
}
.section-item:nth-child(1){
    text-align: center;
display: flex;
justify-content: center;
}
.section-btn{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
width: 167px;
left: 88px;
top: 24px;
border-radius: 5px;
padding: 8px, 16px, 8px, 16px;
background: rgba(0, 186, 252, 1);
border:3px solid rgba(0, 186, 252, 1) ;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);
}
.section-btn:hover{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
width: 167px;
left: 88px;
top: 24px;
border-radius: 5px;
padding: 8px, 16px, 8px, 16px;
background: rgba(255, 255, 255, 1);
border:3px solid rgba(0, 186, 252, 1) ;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: rgba(0, 186, 252, 1);
}
.section-item:nth-child(8){
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-form-form-input{
  outline: none;
    height: 56px;
width: 300px;
left: 24px;
top: 24px;
border: none;
border-radius: 5px;
padding: 16px;
background: rgba(243, 243, 243, 1);

}
.order-form-select{
   outline: none;
    height: 56px;
    width: 300px;
    left: 24px;
    top: 24px;
    border: none;
    border-radius: 5px;
    padding: 16px;
    background: rgba(243, 243, 243, 1);   
}
.order-form-title{
    font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 31px;
letter-spacing: 0em;
text-align: center;
color: rgba(255, 255, 255, 1);
}
.order-form{
    background-color: rgba(0, 186, 252, 1);
}
.order-form-text{
    font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
color:rgba(255, 255, 255, 1) ;
}
.order-form-form{
    height: 304px;
width: 348px;
left: 0px;
top: 8px;
border-radius: 5px;
padding: 24px;
background: rgba(255, 255, 255, 1);

}

.order-form-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
width: 167px;
left: 90.5px;
top: 240px;
border-radius: 5px;
padding: 8px, 16px, 8px, 16px;
background: rgba(0, 186, 252, 1);
font-family: Open Sans;
border: 3px solid rgba(0, 186, 252, 1);
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);
transition: 0.3;
}
.order-form-btn:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
width: 167px;
left: 90.5px;
top: 240px;
border-radius: 5px;
padding: 8px, 16px, 8px, 16px;
background: rgba(255, 255, 255, 1);
font-family: Open Sans;
border:3px solid rgba(0, 186, 252, 1) ;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: rgba(0, 186, 252, 1);
}
.form-list{
    text-align: center;
}
.form-item{
    padding: 5px;
}
.form-item:nth-child(4){
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-form-list{
    text-align: center;
}
.order-form-item:nth-child(3){
    padding: 20px;
    display: flex;
    justify-content: center;
}
.order-form-text{
    width: 600px;
}
.order-form-item:nth-child(2){
    
    display: flex;
    justify-content: center;
}
.order-form-list{
    padding: 30px;
}
.footer-list{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer-item:nth-child(2){
width: 125px;
}
.footer-item:nth-child(3){
    width: 125px;
}
.footer-text{
    font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: white;
 width: 320px;   
}
.footer-title{
    width: 200px;
    padding: 20px;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color: white;
}
.footer{
    height: 338px;
    background-color: black;
    display: flex;
    align-items: center;
}
.footer-link{
font-size: 16px;
font-style: normal;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: white;
    padding: 20px;
    transition: 0.3s;
}
.footer-link:hover{
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 186, 252, 1);
        padding: 20px;
    }


